$ds-colors: (
    primary: (
        100: hsl(223, 24%, 79%),
        300: hsl(223, 12%, 60%),
        500: hsl(223, 11%, 42%),
        700: hsl(223, 17%, 25%),
        900: hsl(223, 37%, 10%),
        // A500:,
        // A700:,
    ),
    on-primary: (
        100: hsl(223, 12%, 22%),
        300: hsl(223, 12%, 22%),
        500: hsl(222, 14%, 77%),
        700: hsl(222, 14%, 77%),
        900: hsl(222, 14%, 77%),
    ),
    secondary: (
        100: hsl(41, 26%, 79%),
        300: hsl(41, 13%, 60%),
        500: hsl(41, 11%, 42%),
        700: hsl(41, 17%, 25%),
        900: hsl(41, 40%, 10%),
    ),
    on-secondary: (
        100: hsl(0, 0%, 0%),
        300: hsl(0, 0%, 0%),
        500: hsl(0, 0%, 0%),
        700: hsl(0, 0%, 100%),
        900: hsl(0, 0%, 100%),
    ),
    tertiary: (
        100: hsl(11, 25%, 79%),
        300: hsl(11, 12%, 60%),
        500: hsl(11, 11%, 42%),
        700: hsl(11, 17%, 25%),
        900: hsl(11, 39%, 10%),
    ),
    on-tertiary: (
        100: hsl(0, 0%, 0%),
        300: hsl(0, 0%, 0%),
        500: hsl(0, 0%, 100%),
        700: hsl(0, 0%, 100%),
        900: hsl(0, 0%, 100%),
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        300: hsl(198, 35%, 93%),
        500: hsl(198, 9%, 73%),
        700: hsl(198, 5%, 54%),
        900: hsl(198, 6%, 36%),
        // 100: #ffffff,
        // 300: #e7f0f3,
        // 500: #b4bdc0,
        // 700: #848c90,
        // 900: #565e61,
    ),
    on-neutral: (
        100: hsl(0, 0%, 0%),
        300: hsl(0, 0%, 0%),
        500: hsl(0, 0%, 0%),
        700: hsl(0, 0%, 0%),
        900: hsl(0, 0%, 100%),
    ),
    info: (
        100: hsl(210, 100%, 91%),
        300: hsl(210, 100%, 80%),
        500: hsl(210, 100%, 69%),
        700: hsl(210, 79%, 46%),
        900: hsl(210, 100%, 31%),
    ),
    on-info: (
        100: hsl(0, 0%, 0%),
        300: hsl(0, 0%, 0%),
        500: hsl(0, 0%, 0%),
        700: hsl(0, 0%, 100%),
        900: hsl(0, 0%, 100%),
    ),
    warning: (
        100: hsl(30, 100%, 82%),
        300: hsl(30, 100%, 73%),
        500: hsl(30, 100%, 63%),
        700: hsl(30, 100%, 48%),
        900: hsl(30, 100%, 37%),
    ),
    on-warning: (
        100: hsl(0, 0%, 0%),
        300: hsl(0, 0%, 0%),
        500: hsl(0, 0%, 0%),
        700: hsl(0, 0%, 0%),
        900: hsl(0, 0%, 100%),
    ),
    error: (
        100: hsl(0, 100%, 86%),
        300: hsl(0, 100%, 76%),
        500: hsl(0, 100%, 67%),
        700: hsl(0, 65%, 51%),
        900: hsl(0, 73%, 41%),
    ),
    on-error: (
        100: hsl(0, 0%, 0%),
        300: hsl(0, 0%, 0%),
        500: hsl(0, 0%, 0%),
        700: hsl(0, 0%, 100%),
        900: hsl(0, 0%, 100%),
    ),
    success: (
        100: hsl(123, 56%, 71%),
        300: hsl(123, 33%, 52%),
        500: hsl(123, 46%, 34%),
        700: hsl(123, 100%, 16%),
        900: hsl(123, 100%, 8%),
    ),
    on-success: (
        100: hsl(0, 0%, 0%),
        300: hsl(0, 0%, 0%),
        500: hsl(0, 0%, 100%),
        700: hsl(0, 0%, 100%),
        900: hsl(0, 0%, 100%),
    ),
);
